@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #F8FAFC;
  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;
  --color-text-main: #111827;
}

body {
  background-color: var(--color-secondary);
  color: var(--color-text-main);
  font-family: system-ui, -apple-system, sans-serif;
  margin: 0;
  padding: 0;
}
